
{% block contenido %}
<div class="row m-1">
    <div class="col-sm-3 p-1 bg-secondary text-white rounded ">
        <h4>CHAT</h4>
        <hr>
        <em><strong> ENVIAR MENSAJE- TU BANDEJA DE SALIDA</strong></em>
        <hr>
        <ul class="bg-secondary">
            {% for usuario in usuarios %}
            {% if usuario.id != user.id %}
            <li> <a href="{% url 'mensajes' usuario.id %}"> {{usuario.username}}</a></li>
            {% endif %}
            {% endfor %}
        </ul>
        <hr>
        <div class="form-group bg-secondary ">
            {% if mensaje %}
            <div class="alert alert-warning">{{mensaje}}</div>
            {% endif %}
            <form action="" method="post" class="form-control  bg-secondary">

                {% csrf_token %}

                <h4 class="text-white"> ENVIAR MENSAJE A:</h4>
                <h3 class="text-white"> {{receptor}}</h3>
                <input type="hidden" name="receptor" id="receptor" value="{{receptor.id}}" required>
                <hr>
                <div class="text-white p-2">
                    {{formMensaje | safe}}
                </div>
                <hr>
                <input type="submit" class="btn btn-primary btn-lg btn-block">
            </form>
        </div>
    </div>
    <div class="col-sm-9">
        <div class="form-group bg-secondary p-2">
            <h3 class="text-white">Chat con: {{receptor}}</h3>
            <hr>
            <ul>
                
                {% if AppChat %}
                {% for mensaje in AppChat %}
                {% if mensaje.usuarioEmisor == user %}
                <li class="bg-light p-0 rounded">
                    <strong>Yo:</strong>
                    <strong>{{mensaje.fecha | date:"d/m/Y H:i:s" }}</strong>
                    {{mensaje.mensaje | safe }}
                    {% if mensaje.leido == 0 %}
                    <p><i>Mensaje no leído</i></p>
                    {% else %}
                    <p><i>Mensaje leído</i></p>
                    {% endif %}
                </li>
                <hr>
                {% else %}
                <li class="bg-light rounded">
                    <strong>Emisor {{mensaje.usuarioEmisor}}:</strong>
                    <strong>{{mensaje.fecha | date:"d/m/Y H:i:s" }}</strong>
                    {{mensaje.mensaje | safe }}
                    {% if mensaje.leido == 0 %}
                    <a href="{% url 'marcarLeido' mensaje.ide %}" target="_self" rel="noopener noreferrer">Marcar como
                        leído | Visto </a>
                    {% else %}
                    <p><i>Mensaje leído</i></p>
                    {% endif %}
                </li>
                {% endif %}
                {% endfor %}
                {% endif %}
            </ul>

        </div>


    </div>
</div>

{% endblock %}