
{% load static %}

{% block contenido %}
<div class="container">
    <div class="row">
        {% if mensaje %}
        <div class="alert alert-success d-flex align-items-center">
            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:">
                <use xlink:href="#check-circle-fill" />
            </svg>
            <p> {{ mensaje }}</p>
        </div>
        {% endif %}
        <div class="form-group p-3">
            <h1>Crear post</h1>
            <form action="" method="post" class="form-control" enctype="multipart/form-data">
                {% csrf_token %}

                {% for field in form %}
                <div class="form-group">

                    {{ field.label_tag }}
                    <div class="form-control"> {{ field }} </div>
                    <small>{{ field.errors }}</small>
                </div>
                {% endfor %}
                <input type="submit" class="btn btn-success" value="Publicar post">
                <div class="alert alert-danger d-flex align-items-center">
                    <div> Mirá tu post aquí -><a href="{% url 'titulos' %}"> Aqui </a> </div>

                <li><a href="{% url 'editarPerfil' %}">Atrás</a></li>
                


            </form>

        </div>
    </div>
</div>
{% endblock %}