
{% load static %}

{% block contenido %}
<div class="row">
    <div class="col-md-8">
        <div class="card mb-4">
            {% if titulos %}
            <div class="card-body">
                <h1 class="card-title">{{ titulo.titulo }}</h1>
                <h3 class="card-title">{{ titulo.subtitulo }}</h3>
                <img class="img-fluid w-100" src="{{ static.assets.img }}" alt="..." />
                <p class="card-text">{{ titulo.contenido | safe }}</p>
            </div>
            <div class="card-footer text-muted">
                Posteado por {{ autor }} {{ fecha_format }} 
                <small>
                    {% if user.is_authenticated %}
                    {% if user.id == tiutlo.usuarioFK_id %}
                    <a id="Editar" class="btn btn-warning" href="{% url 'editarTitulo' titulo.ide %}"
                        role="button">Editar</a>
                    {% else %}
                    {% if user.is_superuser %}
                    <a id="Eliminar" class="btn btn-danger" href="{% url 'eliminarTitulo' titulo.ide %}"
                        role="button">Eliminar</a>
                    <a id="Editar" class="btn btn-warning" href="{% url 'editarTitulo' titulo.ide %}"
                        role="button">Editar</a>
                    {% endif %}
                    {% endif %}
                    {% endif %}
                </small>
            </div>

            {% if mensaje %}
            <div class="alert alert-danger">{{ mensaje }}</div>
            {% endif %}
            {% else %}
                <div class="alert alert-danger"><h2>{{mensaje}}</h2></div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}