
{% load static %}

{% block contenido %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-4">
            <ul>
                <h1>Menú</h1>
                <li><a href="{% url 'editarPerfil' %}">Editar mi perfil</a></li>
                <li><a href="{% url 'titulos' %}">Titulos</a></li>
                <li><a href="{% url 'crearTitulo' %}">Crear un nuevo titulo</a></li>
                <li><a href="{% url 'logout' %}">Cerrar sesión</a></li>
            </ul>
            <ul>
                <h1>Chat</h1>
                {% if mensajeNuevo %}
                    <li><a href="{% url 'mensajes' %}">Tienes un mensaje nuevo!</a></li>
                {% else %}
                    <li>No hay mensajes aún</li>
                {% endif %}
                
            </ul>
        </div>
        <div class="col-md-8">
            <h1>Perfil usuario</h1>
            <p><strong>{{mensaje}}</strong></p>
            <div class="card">
                {% if avatar %}
                <img src="{{ avatar }}" alt="" width="150px" height="100px" class="img-thumbnail">
                {% else %}
                <img src="{% static 'img/avatar.png' %}" alt="" width="100px" height="100px" class="img-thumbnail">
            
                {% endif %}
                <div class="card-body">
                    <div class="card-title">
                        <p> <strong>Usuario:</strong> {{user.username}}</p>
                    </div>
                    <div class="card-text">
                        <p><strong>Email:</strong> {{user.email}}</p>
                        {% if user.first_name %}
                        <p><strong>Nombre: </strong> {{user.first_name}}</p>
                        {% else %}
                        <p><strong>Nombre: </strong>Agrega un nombre, por favor!</p>
                        {% endif %}
                        {% if user.last_name %}
                        <p><strong>Apellido: </strong> {{user.last_name}}</p>
                        {% else %}
                        <p><strong>Apellido: </strong> Agrega un apellido, por favor!</p>
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="card mt-2">
                <strong>Con un avatar es mejor, identifícate con la imagen que te represente! </strong>
                <form action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group mb-1">
                        {{avatarForm.imagen}}
                    </div>
                    <div class="form-group mt-1">
                        <button type="submit" class="btn btn-primary">Guardar cambios</button>
                    </div>
                </form>
            </div>
            {% if mensaje_avatar_form %}
            <div class="alert alert-success" role="alert">
                {{mensaje_avatar_form}}
            </div>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}