{% extends "AppBlog/padre.html" %}
{% load static %}

{% block contenido %}
{% if mensaje %}
<div class="alert alert-danger">{{ mensaje }}</div>
{% endif %}
{% for titulos in titulos %}
<h5 class="card-title">{{ titulo.titulo }}</h5>
<p class="card-text">{{ titulo.subtitulo }}</p>
<h1 class="text-center">ABOUT ME</h1>Publicado el: {{ titulo.fecha }}

<h1 class="text-center">ABOUT ME</h1>Publicado el: {{ titulo.fecha }}
<a  id="Leer mas" class="btn btn-primary" href="{% url 'detallesTitulo' titulos.ide %}" role="button">Leer más</a>
{% if user.is_authenticated %}
<a  id="Editar" class="btn btn-warning" href="{% url 'editarTitulo' titulos.ide %}" role="button">Editar</a>
{% if user.is_superuser %}
<a  id="Eliminar" class="btn btn-danger" href="{% url 'eliminarTitulo' titulos.ide %}" role="button">Eliminar</a>
{% endif %}
{% endif %}
{% endfor %}

{% endblock %}